<div class="col-md-8 offset-md-1">
     <div class="row">
      <h3 class="title">ジャンル編集</h3>
    </div>

    <%= form_with model: @genre, url: admin_genre_path(@genre), local:true do |f| %>

  <div class="form-group">
    <table class="table">
  	 <tr>
      <td><label for="name">ジャンル名</label></td>
      <td><%= f.text_field :name %></td>
    <td><%= f.submit '変更を保存', class: "btn btn-success" %></td>
   <% end %>
   </td>
  </div>


</div>